.socialSection {
  text-align: center;
  margin-top: var(--space-lg);
}

.socialLinks {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  font-size: 2.5rem;
  margin-top: 0.7em;
}

.socialLink {
  display: inline-block;
  opacity: 0.8;
}

.socialLink > img {
  width: 50px;
}
