.logoBox {
  background: #0c0c0c;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 700px) {
  .logoBox {
    width: 30px;
    height: 30px;
  }
}
