.layout {
  display: grid;
  grid-template-areas: "l m r";
  grid-template-columns: 75px 1fr 75px;
}

.leftSide {
  grid-area: l;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-md);
  padding-top: var(--space-lg);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 75px;
}

.main {
  grid-area: m;
}

.main.hideMain {
  visibility: hidden;
}

.righttSide {
  grid-area: r;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-md);
  padding-top: var(--space-md);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 75px;
}

@media screen and (max-width: 850px) {
  .layout {
    grid-template-columns: 70px 1fr 70px;
  }

  .leftSide {
    width: 70px;
  }

  .righttSide {
    width: 70px;
  }
}

@media screen and (max-width: 700px) {
  .layout {
    grid-template-columns: 40px 1fr 40px;
  }

  .leftSide {
    width: 40px;
  }

  .righttSide {
    width: 40px;
  }
}

@media screen and (max-width: 550px) {
  .leftSide {
    display: none;
  }

  .layout {
    grid-template-columns: none;
  }

  .righttSide {
    display: none;
  }
}
