.worksSection {
  clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%);
}

.box {
  display: flex;
  gap: 2em;
  margin-top: var(--space-lg);
}

.box > div {
  flex: 1;
}

.dark-box {
  background: #0c0c0cab;
}

.light-box {
  background: #ffffffab;
}

.contentBox strong {
  font-weight: 500;
}

@media screen and (max-width: 1000px) {
  .worksSection {
    clip-path: polygon(0 2%, 100% 0, 100% 98%, 0 95%);
  }
}

@media screen and (max-width: 800px) {
  .box {
    display: block;
  }

  .worksSection {
    padding-bottom: calc(var(--space-xl) * 3);
  }
}

@media screen and (max-width: 500px) {
  .worksSection {
    clip-path: polygon(0 1%, 100% 0, 100% 96%, 0 95%);
  }
}
