.box {
  display: flex;
  gap: 2em;
  margin-top: 1.4em;
}

.box > div {
  flex: 1;
}

.dark-box {
  background: #0c0c0cab;
}

.light-box {
  background: #ffffffab;
}

.contentBox strong {
  font-weight: 500;
}

@media screen and (max-width: 800px) {
  .box {
    display: block;
  }
}
