*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Poppins", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background-color: #0c0c0c;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* spacing */
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;

  /* colors */
  --color-primary: #0c0c0c;
  --color-secondary: #468faf;
  --text-color-light: #f8f8ff;
  --color-light-red: #e15151;
  --color-light-green: #8dd765;
  --color-light-yellow: #e1c051;

  /* Typography */
  --font-size-base: 1rem;

  /* Border radius */
  --app-radius: 6px;
  --btn-radius: 4px;

  /* breakpoints */
  --bp-sm: 576px;
  --bp-md: 768px;
  --bp-lg: 992px;
  --bp-xl: 1200px;

  /* input focus */
  --input-focus: #0070f3;

  /* black / white sections */

  --white-section-bg: transparent;
  --white-section-text: var(--color-primary);

  --black-section-bg: var(--color-primary);
  --black-section-text: white;
}

html {
  scroll-behavior: smooth;
  width: 100%;
  color: var(--color-primary);
}

a {
  color: var(--text-color-light);
  text-decoration: inherit;
}

a strong {
  font-weight: 700;
  font-size: 1.2em;
  mix-blend-mode: difference;
}

strong {
  font-weight: 200;
}

h1 {
  font-size: 2em;
  line-height: 1.5;
}

h2 {
  text-align: center;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.section {
  font-size: 1.2em;
  font-weight: 100;
  line-height: 1.9;
  padding-bottom: 3em;
  padding-top: 1em;
}

.section.whiteSection {
  color: var(--white-section-text);
  background: var(--white-section-bg);
  font-weight: 400;
}

.section.blackSection {
  color: var(--black-section-text);
  background: var(--black-section-bg);
}

.sectionBox {
  padding: 2em;
  margin: auto;
  max-width: 1000px;
  text-align: justify;
}

@media screen and (max-width: 600px) {
  .sectionBox {
    padding: 1em;
  }
}

/* on dark theme */

[data-theme="dark"] {
  --color-primary: #f8f8ff;
  --color-secondary: #0c0c0c;
  --text-color-light: #f1f1f1;
}

[data-theme="dark"] .section.whiteSection {
  color: var(--black-section-text);
  background: transparent;
  font-weight: 100;
}

[data-theme="dark"] .section.whiteSection strong {
  font-weight: 300;
}

[data-theme="dark"] .section.blackSection {
  color: var(--color-secondary);
  background: var(--color-primary);
  font-weight: 400;
}

[data-theme="dark"] .section.blackSection strong {
  font-weight: 500;
}
