@keyframes arrowAnimation {
  0% {
    top: 2.5em;
  }
  10% {
    top: 3em;
  }
  20% {
    top: 2.5em;
  }
  100% {
    top: 2.5em;
  }
}

.header {
  min-height: 100vh;
  padding-block: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: none;
  font-size: 1em;
}

.headingWrap {
  max-width: 29em;
}

.headingWrap h1 {
  display: flex;
  flex-direction: column;
}

.lastName {
  align-self: end;
  font-size: 1.8em;
  margin-top: -10px;
}

.headingWrap h2 {
  text-align: justify;
  text-align-last: justify;
  margin-bottom: 1em;
}

.headingWrap h2 > span {
  display: inline-block;
  width: 100%;
}

.headingParagraph {
  text-align: justify;
  font-weight: 400;
  font-size: 1.2em;
}

.arrowBox {
  background: var(--color-primary);
  color: white;
  position: absolute;
  bottom: -3em;
  width: 7.5em;
  height: 7.5em;
  border-radius: 50%;
}

.arrow {
  position: absolute;
  top: 2.5em;
  left: 50%;
  width: 22%;
  height: 5px;
  background-color: #fff;
  border-radius: 3px;
  transform: translateX(-50%) rotate(90deg);
  animation: arrowAnimation 4s linear infinite;
}

.arrow::before,
.arrow::after {
  content: "";
  position: absolute;
  width: 60%;
  height: 5px;
  right: -4px;
  background-color: #fff;
  border-radius: 3px;
}

.arrow::before {
  top: 5px;
  transform: rotate(-45deg);
}

.arrow::after {
  top: -5px;
  transform: rotate(45deg);
}

@media screen and (max-width: 700px) {
  .arrowBox {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .headingWrap h1 {
    font-size: 1.8em;
  }
  .header {
    padding: 0 2em;
  }
}

@media screen and (max-width: 450px) {
  .headingWrap h1 {
    font-size: 1.5em;
  }
  .header {
    padding: 0 1em;
  }
}
