@keyframes arrowAnimation {
  0% {
    top: 2.5em;
  }
  10% {
    top: 3em;
  }
  20% {
    top: 2.5em;
  }
  100% {
    top: 2.5em;
  }
}

.header {
  min-height: 100vh;
  padding-block: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: none;
  font-size: var(--space-md);
}

.headingWrap {
  max-width: 29em;
  position: relative;
}

.blueWall {
  background: #2f87c778;
  padding: 3em;
  clip-path: polygon(0 0, 100% 20%, 100% 82%, 0 100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.headingWrap h1 {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.lastName {
  align-self: end;
  font-size: 1.8em;
  margin-top: -10px;
}

.headingWrap h2 {
  text-align: justify;
  text-align-last: justify;
  margin-bottom: var(--space-md);
  font-weight: 300;
}

.headingWrap h2 > span {
  display: inline-block;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .headingWrap h1 {
    font-size: 1.8em;
    display: block;
    margin-bottom: var(--space-md);
  }
  .header {
    padding: 0 2em;
  }
}

@media screen and (max-width: 500px) {
  .headingWrap h1 {
    font-size: 1.5em;
  }
  .header {
    padding: 0 var(--space-md);
  }

  .blueWall {
    clip-path: polygon(0 0, 12% 0%, 11% 92%, 0 100%);
  }
}

@media screen and (max-width: 400px) {
  .headingWrap h1 {
    font-size: 1rem;
  }

  .headingWrap h2 {
    font-size: 1rem;
    text-align-last: auto;
    word-spacing: 0.5rem;
  }

  .blueWall {
    clip-path: polygon(0 0, 10% 0%, 10% 82%, 0 85%);
    padding: 2.5em;
  }
}
