@keyframes arrowAnimation {
  0% {
    top: 2.5em;
  }
  10% {
    top: 3em;
  }
  20% {
    top: 2.5em;
  }
  100% {
    top: 2.5em;
  }
}

.header {
  height: 100vh;
  padding: 0 3em;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border: none;
}

.headingWrap {
  max-width: 29em;
}

.headingWrap h1 {
  display: flex;
  flex-direction: column;
}

.lastName {
  align-self: end;
  font-size: 1.8em;
  margin-top: -10px;
}

.headingWrap h2 {
  text-align: justify;
}

.headingWrap h2 > span {
  display: inline-block;
  width: 100%;
}

.headingParagraph {
  text-align: justify;
}

.arrowBox {
  background: black;
  color: white;
  position: absolute;
  bottom: -3em;
  width: 7em;
  height: 7em;
  border-radius: 50%;
}

.arrow {
  position: absolute;
  top: 2.5em;
  left: 50%;
  width: 22%;
  height: 5px;
  background-color: #fff;
  border-radius: 3px;
  transform: translateX(-50%) rotate(90deg);
  animation: arrowAnimation 4s linear infinite;
}

.arrow::before,
.arrow::after {
  content: "";
  position: absolute;
  width: 60%;
  height: 5px;
  right: -4px;
  background-color: #fff;
  border-radius: 3px;
}

.arrow::before {
  top: 5px;
  transform: rotate(-45deg);
}

.arrow::after {
  top: -5px;
  transform: rotate(45deg);
}
