.cursor {
  display: block;
  top: 0;
  left: 0;
  position: fixed;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  mix-blend-mode: difference;
  transition: top ease-out, left ease-out, width 0.3s, height 0.3s,
    background-color 0.3s;
}

.cursor.magnify {
  width: 100px;
  height: 100px;
  background-color: white;
}

@media (pointer: coarse) {
  .cursor {
    display: none;
  }
}
